<!-- Modal Tabela usuários -->
<div class="modal fade" id="tableModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Gerenciar usuários</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-bordered text-center texto-small">
          <thead class="bg-info">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">Perfil</th>
              <th scope="col">Data de criação</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-hide="vm.paginador.loading" ng-repeat="usuario in vm.paginador.resultados track by usuario.id">
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.idRole | role }}</td>
              <td>{{ usuario.dataCriacao }}</td>
              <td>
                <button type="button" ng-click="vm.prepararEdicao(usuario)" class="btn btn-outline-info btn-block btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#novoUserModal">Editar</button>
              </td>
              <td>
                <button ng-click="vm.excluirUsuario(usuario.id)" ng-disabled="usuario.id === vm.usuarioSelecionado.id" type="button" class="btn btn-outline-danger btn-block btn-sm">Excluir</button>
              </td>
            </tr>
            <tr ng-show="vm.paginador.loading">
              <td colspan="6">
                <div class="text-center">
                  <div class="spinner-border spinner-border-sm text-info" role="status"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <ng-include src="'home/modal-table-paginador.tpl.html'"></ng-include>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.isEdicao = false" data-dismiss="modal" data-toggle="modal" data-target="#novoUserModal">Novo usuário</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>